<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <script>
         const ROOM_ID = "<%= roomId %>"
      </script>
      <title><%= roomName %></title>
      <style>
         body {
            margin: 0;
            padding: 10px;
            font-family: sans-serif;
         }
         .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: auto;
            height: 95vh;
         }
         .header {
            font-size: 30px;
            margin-bottom: 20px;
         }
         .chat-area {
            flex: 1;
            max-height: 80%;
            overflow-y: auto;
            border: 1px solid black;
            padding: 10px;
            margin-top: 20px;
            margin-bottom: 5%;
            width: 50%;
            font-size: 18px;
         }
         .chat-input {
            position: fixed;
            bottom: 5%;
            left: 50%;
            transform: translateX(-50%);
            width: 50%;
            padding: 5px;
            margin-top: 10px;
            font-size: 16px;
         }
      </style>
   </head>
   <body>
      <div class="container">
         <div class="header" id="roomHeader"><%= roomName %></div>

         <input type="text" id="user-name" class="name-input" placeholder="Enter your name" style="font-size: 16px;">

         <div class="chat-area" id="chat-messages"></div>

         <input type="text" id="message-input" class="chat-input" placeholder="Type a message">
      </div>

      <script defer src="/socket.io/socket.io.js"></script>
      <script src="client.js" type="module" defer></script>
   </body>
</html>
